.slide {
  border: 1px solid #dedede;
  border-radius: 12px;
  transition: transform 500ms cubic-bezier(0.16, 1, 0.3, 1),
    box-shadow 500ms cubic-bezier(0.16, 1, 0.3, 1);
  cursor: pointer;
  background-color: #ceead7;
}
.slide:hover {
  transform: scale(1.01);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
.side {
  padding: 16px 16px 10px;
}
