.arrow {
  padding: 12px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 50%;
}
.arrow:hover {
  background-color: var(--border-color);
}
@media screen and (max-width: 600px) {
  .arrow {
    margin-top: 12px;
  }
}
