.cards {
  display: flex;
  align-items: center;
  margin: 20px 0 10px;
  max-width: fit-content;
}
.card {
  padding: 10px 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid rgb(181, 186, 196);
  border-radius: 6px;
  transition: all 0.3s;
  cursor: pointer;
}
.id {
  background: rgb(203, 237, 255);
  border-radius: 20px;
  padding: 2px 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 12px;
}
.visits {
  display: flex;
  flex-wrap: wrap;
}
.title {
  font-size: 25px;
  line-height: 28px;
  font-weight: 700;
}
.link {
  font-size: 14px;
  color: rgb(0, 113, 205);
  transition: all 0.2s ease;
}
.link:hover {
  color: rgb(0, 113, 205);
  font-weight: 400;
  text-decoration: underline;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
