@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding: 0 20px;
}
.card {
  display: flex;
  align-items: flex-start;
  padding: 1rem !important;
  gap: 1rem;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 10px;
  max-width: 32%;
  width: 100%;
  min-width: 258px;
}
.card:hover {
  background-color: var(--border-color);
}
.card img {
  border-radius: 12px;
}
.texts {
  display: grid;
  row-gap: 0;
  grid-template-rows: max-content;
  height: fit-content;
}
.card h3 {
  font-size: 16px;
  font-family: "eculid";
  line-height: 24px;
  text-overflow: ellipsis;
  font-weight: 400;
  color: #000;
  letter-spacing: 0;
}
.card p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #6b6b6b;
  letter-spacing: 0.2px;
  font-family: "eculid";
}

.image img {
  height: 64px;
  width: 64px;
}

@media screen and (max-width: 600px) {
  .card h3 {
    font-size: 15px;
  }
  .card {
    max-width: 100%;
  }
}
