@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "source_sans";
}
.container {
  padding: 0 48px;
  width: 100%;
  max-width: 1800px;
}

@font-face {
  font-family: "source_sans";
  src: url("../fonts/source_sans/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
