.badge {
  margin-top: 70px;
  grid-column: 2;
}
.badge_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 30px;
}
.badge_list li {
  margin: 4px 4px 4px 0;
}
.badge_list li a {
  background-color: #d6ecf8;
  color: #0269a2;
  border-radius: 5px;
  padding: 0 6.5px;
  height: 24px;
  line-height: 24px;
  font-size: 0.8125rem;
}
.badge_list li .green {
  background-color: #e9f8f3;
  color: #007f59;
}
