.wrapper{
    background-color: #202122;
}
.footer{
    padding: 48px 12px;

    display: flex;
    flex-direction: column;
    p{
        color: rgb(163 185 195);
        letter-spacing: 2px;
    }
 .text{
    padding: 24px 0;
    margin-bottom: 40px;
 }   
 .footer_links{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
 }
 .links{
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    li{
        margin-bottom: 14px;
        a{
            font-weight: 600;
            font-size: 14px;
            color: #fff;
            letter-spacing: 2px;
        }
        a:hover{
            text-decoration: underline;
            color: rgb(163 185 195);
        }
    }
    
 }
 .social_links{
    display: flex;
    align-items: center;
    gap: 20px;
    li{
      display: flex;  
      align-items: center;
      justify-content: center;
      min-width: 40px;
      height: 40px;

   
      a{
        border-radius: 99999px;
       border: 2px solid #4aee18;
       color: #4aee18 ;
        padding: 8px;
      }
      a:hover{
           background-color: #2a741456;
            
      }
    }
 }
}